.startAdventure, .section {
  width: 70%; }

.weekend .weekendGallery .seattle, .weekend .weekendGallery .victoria, .weekend .weekendGallery .vancouver, .world .losAngeles, .world .paulJessica, .world .newYork, .world .paris, .world .sanDiego, .world .capeTown, .world .austin, .world .chicago, .world .washington, .world .palmSprings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  margin-bottom: 2%; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
  background-color: #EDEFED; }

a {
  text-decoration: none;
  color: #fff; }

button {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 1em;
  letter-spacing: 1px; }

* {
  font-family: sans-serif; }

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.startAdventure {
  margin-top: 5%;
  margin-bottom: 4%;
  display: flex;
  height: 270px; }
  .startAdventure .image {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/jungle.jpg");
    background-size: cover;
    flex-basis: 66.6666%; }
  .startAdventure .startText {
    background: white;
    display: flex;
    flex-basis: 33.3333%;
    color: #565A5C;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%; }
    .startAdventure .startText h3 {
      margin-bottom: 0;
      font-size: 1em; }
    .startAdventure .startText h2 {
      margin: 12.5px auto;
      font-size: 2em; }
    .startAdventure .startText button {
      background: #FF5A5F;
      font-size: 0.7em; }
    .startAdventure .startText a {
      color: #FF5A5F; }
    .startAdventure .startText p {
      font-size: 0.8em; }

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #565A5C;
  align-items: center; }

.gallery {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2%;
  width: 100%;
  flex-wrap: wrap; }

.weekend .weekendGallery .seattle {
  background-image: url("../img/seattle.jpg");
  height: 344px;
  width: 32%; }
.weekend .weekendGallery .victoria {
  background-image: url("../img/victoria.jpg");
  height: 344px;
  width: 32%; }
.weekend .weekendGallery .vancouver {
  background-image: url("../img/vancouver.jpg");
  height: 344px;
  width: 32%; }
.weekend button {
  width: 32%;
  margin-top: 4%;
  border: 1px solid #565A5C;
  color: #565A5C; }
.weekend h1 {
  margin-bottom: 0; }

.world .losAngeles {
  background-image: url("../img/losAngeles.jpg");
  height: 344px;
  width: 66%; }
.world .paulJessica {
  background-image: url("../img/paulJessica.png");
  height: 344px;
  width: 32%; }
.world .newYork {
  background-image: url("../img/newYork.jpg");
  height: 344px;
  width: 32%; }
.world .paris {
  background-image: url("../img/paris.jpg");
  height: 344px;
  width: 32%; }
.world .sanDiego {
  background-image: url("../img/sanDiego.jpg");
  height: 344px;
  width: 32%; }
.world .capeTown {
  background-image: url("../img/capeTown.png");
  height: 344px;
  width: 32%; }
.world .austin {
  background-image: url("../img/austin.jpg");
  height: 344px;
  width: 66%; }
.world .chicago {
  background-image: url("../img/chicago.jpg");
  height: 344px;
  width: 32%; }
.world .washington {
  background-image: url("../img/washington.jpg");
  height: 344px;
  width: 32%; }
.world .palmSprings {
  background-image: url("../img/palmSprings.jpg");
  height: 344px;
  width: 32%; }
.world p {
  margin-top: 0; }
.world h3 {
  margin-bottom: 2%; }
.world h1 {
  margin-top: 4%;
  margin-bottom: 0; }
.world h4 {
  margin-top: 1%; }

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/Portland.jpg");
  background-size: cover;
  color: #fff;
  height: 600px; }
  .hero .headerText {
    text-align: center; }
    .hero .headerText h1 {
      font-size: 4.3em;
      letter-spacing: 3px;
      margin-bottom: 0; }
    .hero .headerText p {
      font-size: 1.1em;
      margin-top: 0; }

.navbar {
  display: flex;
  width: 100%; }
  .navbar .logo {
    display: flex;
    align-items: center; }
    .navbar .logo img {
      width: 115px; }
  .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex: 1;
    justify-content: flex-end;
    align-content: center; }
    .navbar ul li {
      display: flex;
      flex-basis: 80px;
      align-items: center;
      justify-content: center; }
      .navbar ul li:first-child {
        flex-basis: 150px; }
      .navbar ul li a {
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid #fff; }
        .navbar ul li a:hover {
          background: rgba(0, 0, 0, 0.5); }

.flex-form > *:not([type="date"]) {
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.flex-form input[type="submit"] {
  background: #FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color: white; }

.flex-form {
  z-index: 10;
  position: relative; }

.flex-form > * {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 25px;
  font-size: 15px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none; }

.flex-form > *:last-child {
  border-right: 0; }

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  color: black; }

.flex-form {
  display: flex;
  border-radius: 5px; }

input[type="search"] {
  flex-basis: 500px; }

/*# sourceMappingURL=main.css.map */
