.startAdventure {
  margin-top: 5%;
  @extend %container;
  display: flex;
  height: 270px;
  .image {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("#{$path-img}/jungle.jpg");
    background-size: cover;
    flex-basis: 66%;
  }
  .startText {
    background: white;
    display: flex;
    color: $textGray;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
    h3 {
      margin-bottom: 0;
      @include text(1em);
    }
    h2 {
      margin: 12.5px auto;
      @include text(2em);
    }
    button {
      background: $searchPink;
      @include text(.7em);
    }
    a {
      color: $searchPink;
    }
    p {
      @include text(.8em);
    }
  }
}
