.startAdventure {
  margin-top: 5%;
  margin-bottom: 4%;
  @extend %container;
  display: flex;
  height: 270px;
  .image {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("#{$path-img}/jungle.jpg");
    background-size: cover;
    flex-basis: 66.6666%;
  }
  .startText {
    background: white;
    display: flex;
    flex-basis: 33.3333%;
    color: $textGray;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
    h3 {
      margin-bottom: 0;
      @include text(1em);
    }
    h2 {
      margin: 12.5px auto;
      @include text(2em);
    }
    button {
      background: $searchPink;
      @include text(.7em);
    }
    a {
      color: $searchPink;
    }
    p {
      @include text(.8em);
    }
  }
}

.section {
  display: flex;
  @extend %container;
  flex-direction: column;
  text-align: center;
  color: $textGray;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2%;
  width: 100%;
  flex-wrap: wrap;
}

.weekend {
  .weekendGallery {
    .seattle {
      background-image: url("#{$path-img}/seattle.jpg");
      @include size(32% 344px);
      @extend %destinationBoxes;
    }
    .victoria {
      background-image: url("#{$path-img}/victoria.jpg");
      @include size(32% 344px);
      @extend %destinationBoxes;
    }
    .vancouver {
      background-image: url("#{$path-img}/vancouver.jpg");
      @include size(32% 344px);
      @extend %destinationBoxes;
    }
  }
  button {
    width: 32%;
    margin-top: 4%;
    border: 1px solid $textGray;
    color: $textGray;
  }
  h1 {
    margin-bottom: 0;
  }
}

.world {
  .losAngeles {
    background-image: url("#{$path-img}/losAngeles.jpg");
    @include size(66% 344px);
    @extend %destinationBoxes;
  }
  .paulJessica {
    background-image: url("#{$path-img}/paulJessica.png");
    @include size(32% 344px);
    @extend %destinationBoxes;
    padding-top: 50px;
    img {
      border-radius: 50%;
    }
    h2 {
      align-self: flex-start;
      padding: 10px 15px;
      background: rgba(0,0,0, 0.5);
    }
    span {
      font-size: .5em;
      vertical-align: top;
    }
  }
  .newYork {
    background-image: url("#{$path-img}/newYork.jpg");
    @include size(32% 344px);
    @extend %destinationBoxes;
  }
  .paris {
    background-image: url("#{$path-img}/paris.jpg");
    @include size(32% 344px);
    @extend %destinationBoxes;
  }
  .sanDiego {
    background-image: url("#{$path-img}/sanDiego.jpg");
    @include size(32% 344px);
    @extend %destinationBoxes;
  }
  .capeTown {
    background-image: url("#{$path-img}/capeTown.png");
    @include size(32% 344px);
    @extend %destinationBoxes;
    img {
      border-radius: 50%;
    }
  }
  .austin {
    background-image: url("#{$path-img}/austin.jpg");
    @include size(66% 344px);
    @extend %destinationBoxes;
  }
  .chicago {
    background-image: url("#{$path-img}/chicago.jpg");
    @include size(32% 344px);
    @extend %destinationBoxes;
  }
  .washington {
    background-image: url("#{$path-img}/washington.jpg");
    @include size(32% 344px);
    @extend %destinationBoxes;
  }
  .palmSprings {
    background-image: url("#{$path-img}/palmSprings.jpg");
    @include size(32% 344px);
    @extend %destinationBoxes;
  }
  p {
    margin-top: 0;
  }
  h3 {
    margin-bottom: 2%;
  }
  h1 {
    margin-top: 4%;
    margin-bottom: 0;
  }
  h4 {
    margin-top: 1%;
  }
}

.video {
  display: flex;
  height: 600px;
  width: 100%;
  margin: 4% 0;
  background-image: url('#{$path-img}/monteverde.jpg');
  background-size: cover;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  i {
    font-size: 5em;
    color: rgba(255, 255, 255, 0.5);
  }
  .videoText {
    @extend %destinationBoxes;
    text-align: center;
    h1 {
      font-size: 4em;
      margin: 0;
    }
    .fa-play {
      font-size: 3em;
      color: rgba(0, 0, 0, 0.4);
      background: rgba(255, 255, 255, 0.3);
      padding: 20px 20px 18px 30px;
      border-radius: 50%;
    }
  }
}

.communityGallery {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  #create {
    background-color: $communityTeal;
    @include size(23% 500px);
    max-width: 325px;
    img {
      padding: 2%;
    }
  }
  #traveling {
    background-image: url('#{$path-img}/traveling.jpg');
    background-size: cover;
    @include size(23% 500px);
    max-width: 325px;
    h5 {

    }
  }
  #businessTravel {
    background-image: url('#{$path-img}/businessTravel.jpg');
    background-size: cover;
    @include size(23% 500px);
    max-width: 325px;
  }
  #hostingBox {
    background-image: url('#{$path-img}/hostingBox.jpg');
    background-size: cover;
    @include size(23% 500px);
    max-width: 325px;
  }
  .communityBox {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    .communityText {
      height: 100%;
      display: flex;
      flex-direction: column;

      h5 {
        width: 130px;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 0;
        margin-bottom: 230px;
        background: #007A87;
      }
    }
  }
}
