.navbar {
  display: flex;
  .logo {
    display: flex;
    align-items: center;
    img {
          width: 115px;
        }
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex: 1;
    justify-content: flex-end;
    align-content: center;
    li {
      display: flex;
      flex-basis: 80px;
      align-items: center;
      justify-content: center;

      &:first-child {
        flex-basis: 150px;
      }
      a {
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid #fff;
        &:hover {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
